body {
	background-color: #f5f5f5;
}

.flashcard {
	display: flex;
	width: calc(10in + 20px);
	margin: 0 auto;
}

.container {
	background-color: #ffffff;
	display: block;
	width: 5in;
	height: 3in;
	border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container:nth-of-type(odd) {
	margin-right: 20px;
}

.ql-container {
	height: 3in;
}

i {
	color: #183153;
}

.button {
	background-color: #ffffff;
	padding: 5px;
	border-radius: 3px;
	margin-right: 10px;
}

.button:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
