@page {
	margin: 0;
	background: white;
}

body {
	padding: 0.5in;
}

.notecard {
	width: 5in;
	height: 3in;
	background: white;
	border: 1px solid black;
}

.notecard:nth-child(3n) {
	page-break-after: always;
}

.notecard:nth-child(4n) {
	margin-top: 0.5in;
}
