html {
	width: 100vw;
}

body {
	background-color: #f5f5f5;
	overflow-x: hidden;
}

.flashcard {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.flashcard .button.del {
	visibility: hidden;
}

.flashcard:hover .button.del {
	visibility: visible;
}

.container {
	background-color: #ffffff;
	display: block;
	width: 5in;
	height: 3in;
	border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container:nth-of-type(odd) {
	margin-right: 20px;
}

.ql-container {
	height: 3in;
}

a i {
	color: #18181a;
}
a i:hover {
	color: #183153;
}

.button {
	margin-right: 10px;
}

.button.del {
	margin-left: 10px;
	margin-top: 5px;
}

#controls {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}